/*.user
/*.user.*
.qmake.stash
audiodecoder.o
BatClassify
blob-finder.o
blob.o
classifieruk.o
decision_forest.o
decision_tree.o
fft.o
image.o
main.o
mainwindow.o
Makefile
moc_mainwindow.cpp
moc_mainwindow.o
moc_predefs.h
running_stat.o
STFT.o
ui_mainwindow.h
utilities.o